div{
	background:white;
}

#cabecera{
	height: 120px;
	overflow: auto;
	text-align: center;
}

#lateral{
	width: 50%;

}

#destacado{
	margin: 2em;
	padding: 1em;
	font-size: 20px;
}
.espaciado{
	padding: 2em;
	background: white;
	height: 150px;
	overflow: auto;
	border: 2px solid #000;
}

img{
	float: left;
	padding: .5em;
}

br{
	clear: both;
}